# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/
WebContent/

# General
dependency-reduced-pom.xml
.DS_Store
build/
dist/
target/
.cache/
.tmp/
*.log

# Database
*.db

# User properties
src/main/resources/user.properties

#For test cases (final db)
docs/db/iaa-multiple-choice-db.h2.db
