/* Custom CSS rules */
/* Authors: Yannick Rump, Tim Brust */

.btn-margin-left {
  margin-left: 5px;
}

.btn-margin-right {
  margin-right: 5px;
}

.navbar-right {
  margin-right: 0;
}

footer {
  height: 100px;
  width: inherit;
}

.mapping-table tr th:first-child {
  width: 1%;
}

.mapping-table .input-group {
  width: 100%;
}

.answers {
  margin-bottom: 10px;
}

.exam-mapping {
  display: inherit;
}

.mapping-table .bootstrap-tagsinput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3px 6px;
  min-height: 34px;
  width: 100%;
}

.mapping-table .bootstrap-tagsinput input {
  min-width: 165px;
}

.bootstrap-tagsinput .tag {
  display: inline-block;
  font-size: 100%;
  font-weight: 400;
  margin: 2px 2px 2px 0;
}

.disabled .bootstrap-tagsinput .tag [data-role="remove"] {
  display: none;
}

.disabled .bootstrap-tagsinput input {
  display: none;
}

.enroll-form {
  max-width: 40%;
  margin: 0 auto;
}

.red {
  color: red;
}

.nak {
  width: 30%;
  margin: 2%;
}

.nak-btn-img {
  margin-right: 2%;
  width: 80px;
}

.nak-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 2px solid white;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 1%;
  color: inherit;
  margin-bottom: 5%;
}

.nak-btn:hover {
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  color: RGB(68, 104, 161);
}

.glyph-btn {
  top: 2px;
  margin-right: 10px;
}

.examName {
  vertical-align: inherit !important;
}

.backoffice {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.welcome {
  color: white;
  text-align: center;
  background-image: url(/iaa-multiple-choice/static/img/dockland.jpg);
  border: 1px solid #e7e7e7;
  padding-bottom: 8%;
}

.rd {
  margin-top: 2px;
  margin-bottom: 2px;
}

.cb {
  margin-top: 2px;
  margin-bottom: 2px;
}

.answer {
  margin: 5px 0;
}

.answer .form-control {
  width: auto;
}

.countdown {
  border: 1px solid;
  border-radius: 6px;
  color: red;
  font-weight: bold;
  padding: 6px;
}

.countdown-header h1, .answer-header h4 {
  display: flex;
  justify-content: space-between;
}

.btn-result.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-result.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-result.btn-danger:hover, .btn-result.btn-success:hover {
  cursor: default;
}

.btn-result.btn-danger:active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  box-shadow: none
}

.btn-result.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  box-shadow: none
}

.inline-form {
  display: initial;
}

.center {
 text-align: center;
}

.bold {
  font-weight: bold;
}
